In [10]:
# Import th∆∞ vi·ªán pandas
import pandas as pd

# ƒê·ªçc file CSV
file_path = "D:/ki3nam4/KhoaHocDuLieu\Data1.csv"  # ƒê∆∞·ªùng d·∫´n ƒë·∫øn file c·ªßa b·∫°n
df = pd.read_csv(file_path, sep=";",encoding="latin1")

# Hi·ªÉn th·ªã 5 d√≤ng ƒë·∫ßu ti√™n ƒë·ªÉ ki·ªÉm tra d·ªØ li·ªáu
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 8:26,3.39,17850.0,United Kingdom

In [11]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], dayfirst=True, errors='coerce')
print(df['InvoiceDate'].head(10))  # Xem 10 gi√° tr·ªã ƒë·∫ßu ti√™n

0   2010-01-12 08:26:00
1   2010-01-12 08:26:00
2   2010-01-12 08:26:00
3   2010-01-12 08:26:00
4   2010-01-12 08:26:00
5   2010-01-12 08:26:00
6   2010-01-12 08:26:00
7   2010-01-12 08:28:00
8   2010-01-12 08:28:00
9   2010-01-12 08:34:00
Name: InvoiceDate, dtype: datetime64[ns]

In [ ]:
# X·ª≠ l√Ω d·ªØ li·ªáu thi·∫øu: X√≥a c√°c ƒë∆°n h√†ng kh√¥ng c√≥ m√£ s·∫£n ph·∫©m
df = df.dropna(subset=['StockCode'])
print(f" S·ªë d√≤ng d·ªØ li·ªáu ban ƒë·∫ßu: {df.shape[0]}")
# Ki·ªÉm tra s·ªë l∆∞·ª£ng ƒë∆°n h√†ng tr∆∞·ªõc khi l·ªçc
print(f" S·ªë l∆∞·ª£ng d√≤ng tr∆∞·ªõc khi l·ªçc gi√° tr·ªã √¢m: {df.shape[0]}")

üìä S·ªë d√≤ng d·ªØ li·ªáu ban ƒë·∫ßu: 541909
üìä S·ªë l∆∞·ª£ng d√≤ng tr∆∞·ªõc khi l·ªçc gi√° tr·ªã √¢m: 541909

In [ ]:
#  Lo·∫°i b·ªè ƒë∆°n h√†ng c√≥ gi√° tr·ªã √¢m ho·∫∑c s·ªë l∆∞·ª£ng √¢m
print("\n S·ªë l∆∞·ª£ng d√≤ng tr∆∞·ªõc khi l·ªçc gi√° tr·ªã √¢m:", df.shape[0])
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]
print(" S·ªë l∆∞·ª£ng d√≤ng sau khi l·ªçc gi√° tr·ªã √¢m:", df.shape[0])

 S·ªë l∆∞·ª£ng d√≤ng tr∆∞·ªõc khi l·ªçc gi√° tr·ªã √¢m: 530104
 S·ªë l∆∞·ª£ng d√≤ng sau khi l·ªçc gi√° tr·ªã √¢m: 530104

In [17]:
#  Th√™m c·ªôt th√¥ng tin th·ªùi gian
df['month'] = df['InvoiceDate'].dt.month
df['hour'] = df['InvoiceDate'].dt.hour
df['day_of_week'] = df['InvoiceDate'].dt.dayofweek  # 0 = Monday, 6 = Sunday

print("\n Th√™m c·ªôt th·ªùi gian xong!")
print(df[['InvoiceDate', 'month', 'hour', 'day_of_week']].head(5))

 Th√™m c·ªôt th·ªùi gian xong!
          InvoiceDate  month  hour  day_of_week
0 2010-01-12 08:26:00    1.0   8.0          1.0
1 2010-01-12 08:26:00    1.0   8.0          1.0
2 2010-01-12 08:26:00    1.0   8.0          1.0
3 2010-01-12 08:26:00    1.0   8.0          1.0
4 2010-01-12 08:26:00    1.0   8.0          1.0

In [16]:
# T√≠nh t·ªïng doanh thu cho t·ª´ng ƒë∆°n h√†ng
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

print("\nT√≠nh t·ªïng gi√° tr·ªã ƒë∆°n h√†ng xong!")
print(df[['Quantity', 'UnitPrice', 'TotalPrice']].head(5))

T√≠nh t·ªïng gi√° tr·ªã ƒë∆°n h√†ng xong!
   Quantity  UnitPrice  TotalPrice
0         6       2.55       15.30
1         6       3.39       20.34
2         8       2.75       22.00
3         6       3.39       20.34
4         6       3.39       20.34

In [ ]:
#T·∫°o Pivot Table: T·ªïng doanh thu theo th√°ng v√† qu·ªëc gia
pivot_table = df.pivot_table(values="TotalPrice", index="Country", columns="month", aggfunc="sum")

print("\ T·∫°o Pivot Table xong!")
print("Doanh thu theo th√°ng v√† qu·ªëc gia:")
print(pivot_table.head(5))  # Xem 5 d√≤ng ƒë·∫ßu ti√™n

‚úÖ T·∫°o Pivot Table xong!
üìä Doanh thu theo th√°ng v√† qu·ªëc gia:
month         1.0      2.0       3.0      4.0       5.0      6.0      7.0   \
Country
Australia  3649.97   624.24  17102.08   601.44  16619.47  7833.14   259.95
Austria     364.60   153.76    166.04      NaN       NaN   165.85      NaN
Bahrain        NaN      NaN       NaN      NaN       NaN      NaN      NaN
Belgium     644.04  1730.55    970.00  2375.27   1446.09  1998.91  1921.17
Canada         NaN      NaN       NaN   534.24       NaN      NaN      NaN

month         8.0      9.0      10.0     11.0     12.0
Country
Australia   680.50   210.90    81.60   462.50  1083.92
Austria    1664.58      NaN      NaN      NaN   484.86
Bahrain        NaN   459.40      NaN      NaN      NaN
Belgium     606.00  1510.72  1290.07  1056.56  1393.17
Canada         NaN      NaN      NaN  1217.64      NaN

In [ ]:
# 8Ô∏è‚É£ Nh√≥m d·ªØ li·ªáu: T√≠nh s·ªë ƒë∆°n h√†ng trung b√¨nh c·ªßa t·ª´ng qu·ªëc gia
avg_orders_per_country = df.groupby("Country")["InvoiceNo"].count()

print("\n T√≠nh s·ªë ƒë∆°n h√†ng trung b√¨nh xong!")
print("S·ªë ƒë∆°n h√†ng trung b√¨nh c·ªßa t·ª´ng qu·ªëc gia:")
print(avg_orders_per_country.head(5))  # Xem 5 d√≤ng ƒë·∫ßu ti√™n

‚úÖ T√≠nh s·ªë ƒë∆°n h√†ng trung b√¨nh xong!
üì¶ S·ªë ƒë∆°n h√†ng trung b√¨nh c·ªßa t·ª´ng qu·ªëc gia:
Country
Australia    1182
Austria       398
Bahrain        18
Belgium      2031
Brazil         32
Name: InvoiceNo, dtype: int64