In [28]:
# Import thư viện pandas
import pandas as pd

# Đọc file CSV
file_path = "D:/ki3nam4/KhoaHocDuLieu\Data1.csv"  # Đường dẫn đến file của bạn
df = pd.read_csv(file_path, sep=";",encoding="latin1")

# Hiển thị 5 dòng đầu tiên để kiểm tra dữ liệu
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 8:26,3.39,17850.0,United Kingdom

In [29]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], dayfirst=True, errors='coerce')
print(df['InvoiceDate'].head(10))  # Xem 10 giá trị đầu tiên

0   2010-01-12 08:26:00
1   2010-01-12 08:26:00
2   2010-01-12 08:26:00
3   2010-01-12 08:26:00
4   2010-01-12 08:26:00
5   2010-01-12 08:26:00
6   2010-01-12 08:26:00
7   2010-01-12 08:28:00
8   2010-01-12 08:28:00
9   2010-01-12 08:34:00
Name: InvoiceDate, dtype: datetime64[ns]

In [30]:
# Xử lý dữ liệu thiếu: Xóa các đơn hàng không có mã sản phẩm
df = df.dropna(subset=['StockCode'])
print(f" Số dòng dữ liệu ban đầu: {df.shape[0]}")
# Kiểm tra số lượng đơn hàng trước khi lọc
print(f" Số lượng dòng trước khi lọc giá trị âm: {df.shape[0]}")

 Số dòng dữ liệu ban đầu: 541909
 Số lượng dòng trước khi lọc giá trị âm: 541909

In [22]:
#  Loại bỏ đơn hàng có giá trị âm hoặc số lượng âm
print("\n Số lượng dòng trước khi lọc giá trị âm:", df.shape[0])
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]
print(" Số lượng dòng sau khi lọc giá trị âm:", df.shape[0])

 Số lượng dòng trước khi lọc giá trị âm: 541909
 Số lượng dòng sau khi lọc giá trị âm: 530104

In [31]:
#  Thêm cột thông tin thời gian
df['month'] = df['InvoiceDate'].dt.month
df['hour'] = df['InvoiceDate'].dt.hour
df['day_of_week'] = df['InvoiceDate'].dt.dayofweek  # 0 = Monday, 6 = Sunday

print("\n Thêm cột thời gian xong!")
print(df[['InvoiceDate', 'month', 'hour', 'day_of_week']].head(5))

 Thêm cột thời gian xong!
          InvoiceDate  month  hour  day_of_week
0 2010-01-12 08:26:00    1.0   8.0          1.0
1 2010-01-12 08:26:00    1.0   8.0          1.0
2 2010-01-12 08:26:00    1.0   8.0          1.0
3 2010-01-12 08:26:00    1.0   8.0          1.0
4 2010-01-12 08:26:00    1.0   8.0          1.0

In [32]:
# Tính tổng doanh thu cho từng đơn hàng
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

print("\nTính tổng giá trị đơn hàng xong!")
print(df[['Quantity', 'UnitPrice', 'TotalPrice']].head(5))

Tính tổng giá trị đơn hàng xong!
   Quantity  UnitPrice  TotalPrice
0         6       2.55       15.30
1         6       3.39       20.34
2         8       2.75       22.00
3         6       3.39       20.34
4         6       3.39       20.34

In [33]:
#Tạo Pivot Table: Tổng doanh thu theo tháng và quốc gia
pivot_table = df.pivot_table(values="TotalPrice", index="Country", columns="month", aggfunc="sum")

print("\ Tạo Pivot Table xong!")
print("Doanh thu theo tháng và quốc gia:")
print(pivot_table.head(5))  # Xem 5 dòng đầu tiên

\ Tạo Pivot Table xong!
Doanh thu theo tháng và quốc gia:
month         1.0      2.0       3.0      4.0       5.0      6.0      7.0   \
Country
Australia  3649.97   427.24  16933.38   325.51  16619.47  7833.14   192.00
Austria     364.60   153.76    166.04      NaN       NaN   165.85      NaN
Bahrain        NaN      NaN       NaN      NaN   -205.74      NaN      NaN
Belgium     644.04  1712.05    970.00  2375.27   1443.14  1966.96  1889.74
Canada         NaN      NaN       NaN   534.24       NaN      NaN      NaN

month         8.0      9.0      10.0     11.0     12.0
Country
Australia   680.50   210.90    81.60   462.50  1083.92
Austria    1664.58      NaN      NaN      NaN   484.86
Bahrain        NaN   459.40      NaN      NaN      NaN
Belgium     591.15  1510.72  1251.72  1056.56  1387.17
Canada         NaN      NaN      NaN  1217.64      NaN

In [34]:
# 8️⃣ Nhóm dữ liệu: Tính số đơn hàng trung bình của từng quốc gia
avg_orders_per_country = df.groupby("Country")["InvoiceNo"].count()

print("\n Tính số đơn hàng trung bình xong!")
print("Số đơn hàng trung bình của từng quốc gia:")
print(avg_orders_per_country.head(5))  # Xem 5 dòng đầu tiên

 Tính số đơn hàng trung bình xong!
Số đơn hàng trung bình của từng quốc gia:
Country
Australia    1259
Austria       401
Bahrain        19
Belgium      2069
Brazil         32
Name: InvoiceNo, dtype: int64